{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blood Bridge</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>

<body>

  <header class="navbar">
    <div class="logo">
      <img src="{% static 'images/logo.png' %}" alt="logo">
      <!-- add media folder -->
      <h1>Blood Bridge.</h1>

      <nav class="nav-links">
        <a href="#" class="active">Home</a>
        <a href="#">About us</a>
      </nav>
    </div>

    <div class="buttons">
      <button class="btn-login" id="openLogin">Log in</button>
      <button class="btn-signup" id="openSignup">Sign up</button>
    </div>
  </header>

  <section class="hero">
    <h1>Welcome to Blood Bridge</h1>
    <p>
      Blood Bridge is a backend-focused web application that streamlines blood donation processes across the
      Philippines.
      It connects voluntary donors with hospitals and patients in urgent need of blood,
      starting with Cebu City as the pilot area.
    </p>
  </section>

  <!-- Signup Modal -->
  <div class="modal" id="signupModal">
    <div class="modal-content">
      <span class="close" id="closeSignup">&times;</span>
      <h2>Sign up</h2>
      <form method="post" action="{% url 'register' %}" novalidate>
        {% csrf_token %}

        <!-- Email Field -->
        <div class="input-group">
          <div class="input-field">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24">
              <path
                d="M19,1H5A5.006,5.006,0,0,0,0,6V18a5.006,5.006,0,0,0,5,5H19a5.006,5.006,0,0,0,5-5V6A5.006,5.006,0,0,0,19,1ZM5,3H19a3,3,0,0,1,2.78,1.887l-7.658,7.659a3.007,3.007,0,0,1-4.244,0L2.22,4.887A3,3,0,0,1,5,3ZM19,21H5a3,3,0,0,1-3-3V7.5L8.464,13.96a5.007,5.007,0,0,0,7.072,0L22,7.5V18A3,3,0,0,1,19,21Z" />
            </svg>
            <input type="email" name="username" placeholder="email"
              value="{{ registration_form.username.value|default:'' }}">
          </div>
          {% if registration_form.username.errors %}
          <p class="custom-error">{{ registration_form.username.errors.0 }}</p>
          {% endif %}
        </div>

        <!-- Password Field -->
        <div class="input-group">
          <div class="input-field">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24">
              <path
                d="M19,8.424V7A7,7,0,0,0,5,7V8.424A5,5,0,0,0,2,13v6a5.006,5.006,0,0,0,5,5H17a5.006,5.006,0,0,0,5-5V13A5,5,0,0,0,19,8.424ZM7,7A5,5,0,0,1,17,7V8H7ZM20,19a3,3,0,0,1-3,3H7a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H17a3,3,0,0,1,3,3Z" />
              <path d="M12,14a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V15A1,1,0,0,0,12,14Z" />
            </svg>
            <input type="password" name="password1" placeholder="password" id="password">
            <i class="bi bi-eye toggle" data-target="password"></i>
          </div>
          {% if registration_form.password1.errors %}
          <p class="custom-error">{{ registration_form.password1.errors.0 }}</p>
          {% endif %}
        </div>

        <!-- Confirm Password Field -->
        <div class="input-group">
          <div class="input-field">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24">
              <path
                d="M19,8.424V7A7,7,0,0,0,5,7V8.424A5,5,0,0,0,2,13v6a5.006,5.006,0,0,0,5,5H17a5.006,5.006,0,0,0,5-5V13A5,5,0,0,0,19,8.424ZM7,7A5,5,0,0,1,17,7V8H7ZM20,19a3,3,0,0,1-3,3H7a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H17a3,3,0,0,1,3,3Z" />
              <path d="M12,14a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V15A1,1,0,0,0,12,14Z" />
            </svg>
            <input type="password" name="password2" placeholder="confirm password" id="confirmPassword">
            <i class="bi bi-eye toggle" data-target="confirmPassword"></i>
          </div>
          {% if registration_form.password2.errors %}
          <p class="custom-error">{{ registration_form.password2.errors.0 }}</p>
          {% endif %}
          {% if registration_form.non_field_errors %}
          <p class="non-field-error">{{ registration_form.non_field_errors.0 }}</p>
          {% endif %}
        </div>

        <button type="submit" class="submit-btn">Sign up</button>
      </form>
    </div>
  </div>

  <!-- Login Modal -->
  <div class="modal" id="loginModal">
    <div class="modal-content">
      <span class="close" id="closeLogin">&times;</span>
      <h2>Log in</h2>
      <form method="post" action="{% url 'login' %}" novalidate>
        {% csrf_token %}

        <!-- Email Field -->
        <div class="input-group">
          <div class="input-field">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24">
              <path
                d="M19,1H5A5.006,5.006,0,0,0,0,6V18a5.006,5.006,0,0,0,5,5H19a5.006,5.006,0,0,0,5-5V6A5.006,5.006,0,0,0,19,1ZM5,3H19a3,3,0,0,1,2.78,1.887l-7.658,7.659a3.007,3.007,0,0,1-4.244,0L2.22,4.887A3,3,0,0,1,5,3ZM19,21H5a3,3,0,0,1-3-3V7.5L8.464,13.96a5.007,5.007,0,0,0,7.072,0L22,7.5V18A3,3,0,0,1,19,21Z" />
            </svg>
            <input type="email" name="username" placeholder="email" value="{{ login_form.username.value|default:'' }}">
          </div>
          {% if login_form.username.errors %}
          <p class="custom-error">{{ login_form.username.errors.0 }}</p>
          {% endif %}

        </div>

        <!-- Password Field -->
        <div class="input-group">
          <div class="input-field">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24">
              <path
                d="M19,8.424V7A7,7,0,0,0,5,7V8.424A5,5,0,0,0,2,13v6a5.006,5.006,0,0,0,5,5H17a5.006,5.006,0,0,0,5-5V13A5,5,0,0,0,19,8.424ZM7,7A5,5,0,0,1,17,7V8H7ZM20,19a3,3,0,0,1-3,3H7a3,3,0,0,1-3-3V13a3,3,0,0,1,3-3H17a3,3,0,0,1,3,3Z" />
              <path d="M12,14a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V15A1,1,0,0,0,12,14Z" />
            </svg>
            <input type="password" name="password" placeholder="password" id="loginPassword">
            <i class="bi bi-eye toggle" data-target="loginPassword"></i>
          </div>
          {% if login_form.password.errors %}
          <p class="custom-error">{{ login_form.password.errors.0 }}</p>
          {% endif %}
          {% if login_form.non_field_errors %}
          <p class="non-field-error">{{ login_form.non_field_errors.0 }}</p>
          {% endif %}
        </div>

        <button type="submit" class="submit-btn">Log in</button>

        <!-- Forgot Password Link -->
        <p class="forgot-password"><a href="#">Forgot Password?</a></p>
      </form>
    </div>
  </div>

  <input type="hidden" id="openModalHint" value="{{ open_modal }}">

  <!-- Registration Successful -->
  {% if registration_success %}
  <div class="overlay" id="successOverlay">
    <div class="success-container">
      <span class="close-btn" id="closeSuccess">&times;</span>
      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24">
        <path d="m16.298,8.288l1.404,1.425-5.793,5.707c-.387.387-.896.58-1.407.58s-1.025-.195-1.416-.585l-2.782-2.696,1.393-1.437,2.793,2.707,5.809-5.701Zm7.702,3.712c0,6.617-5.383,12-12,12S0,18.617,0,12,5.383,0,12,0s12,5.383,12,12Zm-2,0c0-5.514-4.486-10-10-10S2,6.486,2,12s4.486,10,10,10,10-4.486,10-10Z"/>
      </svg>

      <h2>Registration Successful!</h2>
      <p>You can now log in to your account.</p>

      <a href="#" class="btn-primary" id="goToLogin">Go to Login</a>
    </div>
  </div>
  {% endif %}



  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>